/* Layout padrão (desktop) */
.pai {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.central {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  text-align: center;
}

.final p {
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
}


/* Responsivo (até 768px) */
@media (max-width: 60rem) {
  .pai {
    flex-direction: column; /* empilha logo, links e botão */
  }

  .logo {
    text-align: center;
  }

  .central {
    flex-direction: column; /* links ficam em coluna */
    gap: 1rem;
  }

  .final {
    justify-content: center; /* botão centralizado */
  }
}


@media (max-width: 40rem) {
  .hamburger {
    display: block; /* mostra o ícone */
  }

  .menu {
    display: none; /* esconde o menu */
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    text-align: center;
  }

  .menu.active {
    display: flex; /* aparece quando clicar */
  }

  .central {
    flex-direction: column;
    gap: 1rem;
  }

  .final {
    justify-content: center;
  }
}