.pai {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2e2e33; 
}




.geral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 2rem
}


.dev a {
    text-decoration: none;
}



.dev h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}




.github {
    display: flex;
    flex-direction: row;

    gap: 1rem;
}


.github p {
    font-family: 'Montserrat', sans-serif;
    color: white;
}


.github p:hover {
    color: #ff7f00; 
}


.github img {
    height: 2rem;
    width: auto;
}