.page {
  display: flex;
  flex-direction: column;

} 

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 4rem;
  margin-bottom: 4rem;
}


.geral {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.geral h1 {
  color: white;
}

.geral p {
  font-size: large;
  color: white
}



.text_area {
  width: 50%;
}

.vid_area {
  width: 50%;
}

.complete_features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.study_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.study_description h1 {
  color: white;
}

.study_description a {
  color: white;
  font-size: large;
}

.study_description a:hover {
  color: #ff7f00;
  font-size: large;
}

.study_description p {
  color: white;
  font-size: large;
}


.study_data {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5rem;
}

.study_data img {
  height: 20rem;
  width: auto;
}