.page {
  display: flex;
  flex-direction: column;

} 

.geral {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 3rem;
}

.text_area {
  width: 50%;
}

.vid_area {
  width: 50%;
}

.complete_features {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.description_features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.features {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5rem;
}

/* .features div {
  width: 10rem;
  height: 10rem;
} */